body{
    background-color: bisque;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
}

img{
    width: 800px;
    height: auto;
}

ul{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
}